#REPLACE THIS VALUE
export TFE_VERSION=2.0.5
#REPLACE THIS VALUE
export TFE_HOSTNAME=<host-host-name>
export TFE_HOST_IP=<host-ip-address>
#REPLACE THIS VALUE
export TFE_OPERATIONAL_MODE=disk
#REPLACE THIS VALUE
export TFE_INSTALL_DIR=/opt/tfe
#REPLACE THIS VALUE
export TFE_IMAGE=images.releases.hashicorp.com/hashicorp/terraform-enterprise

export TFE_HTTP_PORT=8080
export TFE_HTTPS_PORT=8443
export TFE_ADMIN_HTTPS_PORT=8446

export TFE_POD_NAME=terraform-enterprise
export TFE_CONTAINER_IDENTIFIER=tfe
export TFE_CONTAINER_NAME=terraform-enterprise-tfe

## this let's you control if you want to delete the data
export TFE_DELETE_DATA=true



#REPLACE THIS VALUE
export TFE_LICENSE=<tfe-license>
#REPLACE THIS VALUE
export TFE_ENCRYPTION_PASSWORD=<tfe-encryption-pass>


## These values are used to Create Initial Admin User

export TFE_ADMIM_USERNAME=<initial-admin>
export TFE_ADMIM_EMAIL=<initial-email>
export TFE_ADMIM_PASSWORD=<initial-pass>



## SSH credentials used by Ansible to connect to the target host
export ANSIBLE_USER=<host-user-name>
export ANSIBLE_PASSWORD=<host-paas>
